.card.horizontal,
.file-field input[type=file] {
    padding: 1rem;
}
#headerForm {
    padding: 2rem;
    margin-top: 2rem;
}
h1{
    font-size: 3.56rem;
    margin-top: 0;
}
@media screen and (max-width: 600px) {
    h1 {
        margin: 0;
        font-size: 1.2rem;
        font-weight: bold;
    }
    .file-field .file-path-wrapper {
        overflow: visible;
        padding-left: 0;
    }
    .card.horizontal .card-image {
        margin-top: 1.5rem;
    }
}
.card-action {
    margin-top: 1rem;
}
img {
    width:33%;
}